@{
    ViewData["Title"] = "About ToyMart";
}


    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="topnav">
                <a style="color:rgba(84, 33, 249, 0.962);" class="active" href='@Url.Action("Index", "Home")'>Toy Mart</a>
                <img src="/images/products/logotoys.JPG" width="70" height="70">
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a style="color:black;" class="nav-link" href='@Url.Action("Product", "Home")'>Products</a>
                    </li>
                    <li class="nav-item">
                        <a style="color:black;" class="nav-link" href='@Url.Action("Cart", "Home")'>Cart</a>

                    </li>


                    <li class="nav-item">
                        <a style="color:black;" class="nav-link" href='@Url.Action("About", "Home")'>About Us</a>
                    </li>

                    <!-- <li class="nav-item">
                        <a style="color:black;" class="nav-link" href="#services">Our Services</a>
                    </li>

                    <li class="nav-item">
                        <a style="color:black;" class="nav-link" href="#team" tabindex="-1" aria-disabled="true">Our
                            Team</a>
                    </li> -->
                    <li class="nav-item">
                        <a style="color:black;" class="nav-link" href='@Url.Action("Contact", "Home")'>Contact</a>
                    </li>
                    <li class="nav-item">
                        <a style="color:black;" class="nav-link" href='@Url.Action("Login", "Home")'>Login</a>
                    </li>


                </ul>
            </div>
        </nav>

<section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>About Us</h2>
                        <div class="about-content">
                            Welcome to Toy Mart, your number one source for all things. We're dedicated to giving
                            you the very best of Toys, with a focus on dependability, customer service and
                            uniqueness.
                            Founded in 2018 by Daniel Brown, Toys has come a long way from its beginnings in a
                            Copenhagen. When Daniel Brown first started out, his passion for helping other parents be
                            more eco-friendly, providing the best equipment for his fellow sports lover drove him to do
                            intense research, quit his day job, and gave him the impetus to turn hard work and
                            inspiration into to a booming online store. We now serve customers all over the US, the
                            world, the Austin area, and are thrilled to be a part of the quirky, eco-friendly, fair
                            trade wing of the sports industry.

                            We hope you enjoy our products as much as we enjoy offering them to you. If you have any
                            questions or comments, please don't hesitate to contact us.


                        </div>
                        <button type="button" class="btn btn-primary" style="background-color: #7f305c;">Read More>>

                        </button>

                    </div>
                    <div class="col-md-6 skills-bar">
                        <p>Delivery Rate</p>
                        <div class="progress">
                            <div class="progress-bar" style="width:85%; background-color:#7f305c">85%</div>
                        </div>

                        <p>Customer Growth</p>
                        <div class="progress">
                            <div class="progress-bar" style="width:75%;  background-color:#7f305c">75%</div>
                        </div>

                        <p>Happy Employee</p>
                        <div class="progress">
                            <div class="progress-bar" style="width:90%;  background-color:#7f305c">90%</div>
                        </div>

                    </div>
                </div>

            </div>
            </section>
            <section id="team">
                <div class="container">
                    <h1>Our Team</h1>
                    <div class="row">
                        <div class="col-md-3 profile-pic text-center">
                            <div class="img-box">
                                <img src="/images/Daniel Brown.jpeg"
                                    class="img-responsive">
                                <ul>
                                    <a href="https://www.facebook.com/">
                                        <li><i class="fa fa-facebook"></i></li>
                                    </a>
                                    <a href="https://twitter.com/login">
                                        <li><i class="fa fa-twitter"></i></li>
                                    </a>
                                    <a href="https://www.linkedin.com/home">
                                        <li><i class="fa fa-linkedin"></i></li>
                                    </a>
                                </ul>
                            </div>
                            <h2>Roy Tom </h2>
                            <h3>CEO</h3>

                        </div>

                        <div class="col-md-3 profile-pic text-center">
                            <div class="img-box">
                                <img src="/images/Miyang Chan.jfif"
                                    class="img-responsive">
                                <ul>
                                    <a href="https://www.facebook.com/">
                                        <li><i class="fa fa-facebook"></i></li>
                                    </a>
                                    <a href="https://twitter.com/login">
                                        <li><i class="fa fa-twitter"></i></li>
                                    </a>
                                    <a href="https://www.linkedin.com/home">
                                        <li><i class="fa fa-linkedin"></i></li>
                                    </a>
                                </ul>
                            </div>
                            <h2>Stacy Norman  </h2>
                            <h3>Store Executive</h3>

                        </div>

                        <div class="col-md-3 profile-pic text-center">
                            <div class="img-box">
                                <img src="/images/Nina Davaluri.jfif"
                                    class="img-responsive">
                                <ul>
                                    <a href="https://www.facebook.com/">
                                        <li><i class="fa fa-facebook"></i></li>
                                    </a>
                                    <a href="https://twitter.com/login">
                                        <li><i class="fa fa-twitter"></i></li>
                                    </a>
                                    <a href="https://www.linkedin.com/home">
                                        <li><i class="fa fa-linkedin"></i></li>
                                    </a>
                                </ul>
                            </div>
                            <h2>Wonder Stark</h2>
                            <h3>Marketing Manager</h3>

                        </div>

                        <div class="col-md-3 profile-pic text-center">
                            <div class="img-box">
                                <img src="/images/Yash Gupta.jfif"
                                    class="img-responsive">
                                <ul>
                                    <a href="https://www.facebook.com/">
                                        <li><i class="fa fa-facebook"></i></li>
                                    </a>
                                    <a href="https://twitter.com/login">
                                        <li><i class="fa fa-twitter"></i></li>
                                    </a>
                                    <a href="https://www.linkedin.com/home">
                                        <li><i class="fa fa-linkedin"></i></li>
                                    </a>
                                </ul>
                            </div>
                            <h2>Tiger Shroff</h2>
                            <h3>Creative Manager</h3>

                        </div>
                    </div>
                </div>
                <section id="services"></section>
            
        			<!------Services Section------->
                </section>
				<div class="container">
					<h1>What we believe</h1>
					<div class="row services">
						<div class="col-md-4 text-center">
							<div class="icon">
								<i class="fa fa-phone"></i>
							</div>
							<h3> 24/7 Support</h3>
							<p>on order related queries</p>
						</div>

						<div class="col-md-4 text-center">
							<div class="icon">
								<i class="fa fa-shopping-cart"></i>
							</div>
							<h3> Return within 30 days</h3>
							<p>of receiving your order</p>
						</div>

						<div class="col-md-4 text-center">
							<div class="icon">
								<i class="fa fa-truck"></i>
							</div>
							<h3>Get free delivery</h3>
							<p>on orders above R300</p>
						</div>
					</div>
				</div>

                <section id="footer" style="margin-top: 40px; background-color: rgb(252, 250, 250); padding-top: 30px;">
                <footer class="container">
                    <div class="footer-middle">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-s6 col-lg-3">
                                    <div class="widget widget-about">
                                        <img src="/images/products/logotoys.JPG"footer-logo" alt="Footer Logo"
                                            width="50" height="50">
                                        
    
                                        <div class="widget-call">
                                            <i class="icon-phone"></i>
                                            Got Question? Call us 24/7
                                            <a href="tel:#" style="color:#26b548">+27 656486570</a>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="col-sm-6 col-lg-3">
                                    <div class="widget">
                                        <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->
    
                                        <ul class="widget-list">
                                            <li><a href="about.html" style="color: #26b548;">About Company</a></li>
                                            <li><a href="#" style="color: #26b548;">Our Services</a></li>
                                            <li><a href="#" style="color: #26b548;">How to shop</a></li>
                                            <li><a href="faq.html" style="color: #26b548;">FAQ</a></li>
                                            <li><a href="contact.html" style="color: #26b548;">Contact us</a></li>
                                        </ul>
                                    </div>
                                </div>
    
                                <div class="col-sm-6 col-lg-3">
                                    <div class="widget">
                                        <h4>Customer Service</h4>
    
                                        <ul class="widget-list">
                                            <li><a href="#" style="color: #26b548;">Payment Methods</a></li>
                                            <li><a href="#" style="color: #26b548">Money-back guarantee!</a></li>
                                            <li><a href="#" style="color: #26b548;">Returns</a></li>
                                            <li><a href="#" style="color: #26b548;">Shipping</a></li>
                                            <li><a href="#" style="color: #26b548;">Terms and conditions</a></li>
                                            <li><a href="#" style="color: #26b548;">Privacy Policy</a></li>
                                        </ul>
                                    </div>
                                </div>
    
                                <div class="col-sm-6 col-lg-3">
                                    <div class="widget">
                                        <h4 class="widget-title">My Account</h4><!-- End .widget-title -->
    
                                        <ul class="widget-list">
                                            <li><a href="#" style="color: #26b548;">Sign In</a></li>
                                            <li><a href="cart.html" style="color: #26b548;">View Cart</a></li>
                                            <li><a href="#" style="color: #26b548;">My Wishlist</a></li>
                                            <li><a href="#" style="color: #26b548;">Track My Order</a></li>
                                            <li><a href="#" style="color: #26b548;">Help</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div>
                        <div class="container">
                            <p style="text-align:center;">Copyright © 2022 iFundi Store. All Rights Reserved.</p>
                            <figure style="float: right;">
                                <img src="/images/products/payments.png" alt="Payment methods" width="272" height="20">
                            </figure>
                        </div>
                    </div>
                </footer>
            </section>
    


